
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Contractor Information</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"crossorigin="anonymous">


<style>
body{
 margin: 0;
 padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}
.headerclass{
color:black;
}

.m {
  float: left;

}
.n{
float:right;
display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: red;
  text-decoration: none;
}

li .glyphicon{
color:white;
}
li p{

color:white;


}

.glyphicon:hover{
color:red;
}


#myhover:hover{
color:black;
}

#myhover2:hover{
color:black;
}
#myhover3:hover{
color:black;
}

#nounderline{
text-decoration:none;
}

.headerclass{
text-decoration:none;
}


</style>

<body>

<ul>
  <li class='m'> <a class="headerclass" href="{% url 'showcontract' %}">
      <span class="glyphicon glyphicon-home"></span><br class="hidden-xs"><p>Home</p></a></li>
  <li class='m'>   <a class="headerclass" href="{% url 'addcontract' %}">
      <span class="glyphicon glyphicon-floppy-disk"></span><br class="hidden-xs"><p> Register</p></a></li>

         {% if not request.user.is_authenticated %}
    <li class='m'><a class="headerclass" href="{% url 'login' %}">
        <span class="glyphicon glyphicon-log-in"></span><br class="hidden-xs"><p> Log-In</p></a></li>
     {% endif %}

          {% if  request.user.is_authenticated %}
    <li class='m'><a class="headerclass" href="{% url 'logout' %}">
        <span class="glyphicon glyphicon-log-out"></span><br class="hidden-xs"><p> Log-Out</p></a></li>
     {% endif %}



</ul>



<div class="container">

    <title>{{user.username}}</title>

        {% if user.profile.images.url %}
        <center><img class="rounded-circle account-img" src="{{user.profile.images.url}}"></center>
        {% endif %}

        {% if not user.profile.images.url %}
        <center><img class="rounded-circle account-img" src="{% static 'reductcontract/images/myprofile.png'%}"> </center>
        {% endif %}


    <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Your Profile</legend>
        {{form|crispy}}
        {{profile|crispy}}
        </fieldset>
        <div class="form-group">
         <button class="btn btn-outline-danger" type="submit">Update</button>
        </div>
        <h2>Your Contractor</h2>


  <table class="table table-responsive-lg">
    <thead class="thead-dark">
      <tr>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Role</th>
           <th scope="col">Contract Duration</th>
           <th scope="col">Start Date</th>
           <th scope="col">Finish Date</th>
             <th scope="col">On Board</th>
           <th scope="col">Phone Number</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
           <th scope="col">Registered By</th>
          <th scope="col">Action</th>
          <th scope="col">Status</th>
          <th scope="col">Clause</th>



      </tr>
    </thead>
    <tbody>

    {% for i in obj %}

      <tr>
        <td>{{i.first_name}}</td>
        <td>{{i.last_name}}</td>
        <td>{{i.role}}</td>
          <td>{{i.contract_duration}} months</td>
          <td>{{i.start_date}}</td>
          <td>{{i.finish_date}}</td>
          <td>{{i.on_board}}</td>
          <td>{{i.phone_number}}</td>
          <td>{{i.email}}</td>
          <td>{{i.address}}</td>
          <td>{{i.user}}</td>
             <td><a class="headerclass" href="/{{i.id}}/update"><span class="glyphicon glyphicon-pencil"></span></a>
      <a class="headerclass" href="/{{i.id}}/delete" ><span class="glyphicon glyphicon-trash"></span></a></td>


            {% if i.status == 'Active' %}
     <td><span id="myhover" class="glyphicon glyphicon-ok d-flex justify-content-center "></span></td>
           {% else %}
          <td><span id="myhover2" class="glyphicon glyphicon-remove d-flex justify-content-center "></span><a id="nounderline" class="headerclass" href="/{{i.id}}/renew" ><span class="glyphicon glyphicon-refresh d-flex justify-content-center"></span></a></td>
         {% endif %}

           {% if i.clause %}
          <td><a class="headerclass" href="/{{i.id}}/clause"><span  class="glyphicon glyphicon-eye-open d-flex justify-content-center "></span></a></td>
          {% else %}
          <td><span id="myhover3" class="glyphicon glyphicon-remove d-flex justify-content-center "></span></td>
          {% endif %}
      </tr>

    {% endfor %}

    </tbody>
  </table>

    </form>

</div>



 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}